<html>
<head>

	<title>Simple Property Test</title>

  <script src="libs/vue.js"></script>

	<script type="module">
    var mydata = {
      id: "root",
      children: [
        {
          id: "child1",
          children: [
            {id: "child1a", initial:2},
            {id: "child1b", initial:4},
            {id: "child1c", initial:6}
          ]
        },
        {
          id: "child2",
          children: [
            {id: "child2a", initial:1},
            {id: "child2b", initial:2},
            {id: "child2c", initial:3}
          ]
        }
      ]
    }
    
    var Property = {
      template: "#property-template",
      props: {
        id: String,
        initial: Number
      },
      data() {
        return {
          n: this.initial
        }
      },
      methods: {
        inc: function() { this.n++ },
        dec: function() { this.n-- }
      }
    }
    
    var Group = {
      template: "#group-template",
      props: {
        id: String,
        children: Array
      },
      computed: {
        /* Todo:
        https://vuejs.org/api/options-state.html#data
        => children as computed using this.$data?
        */
        n: {
          get() {
            return this.children.reduce((sum, child) => sum + child.n, 0)
          },
          set(v) {
            for (let index in this.children) {
              this.children[index].n = (index === 0 ? newN : 0)
            }
          }
        }
      },
      methods: {
        inc: function() { this.children.forEach(c => c.inc()) },
        dec: function() { this.children.forEach(c => c.dec()) }
      },
      created() {
        console.log(this.children)  // Returns Proxy!
      }
    }
    
    Vue.createApp({data() { return {mydata} }})
      .component("Property", Property)
      .component("Group", Group)
      .mount("#root")
	</script>

	<style>
		ul {
			margin-left: 20px
		}
	</style>

</head>
<body>

  <div id="root">
    <!-- was v-bind for context -->
    <!--
    <property v-for="prop in data.children[0].children" v-bind="prop"></property>
    -->
    <group v-bind="mydata"></group>
  </div>

  <template id="property-template">
    <span>
      <button @click="inc()">+</button>
      <button @click="dec()">-</button>
      {{id}} = {{n}}
    </span>
  </template>

  <template id="group-template">
    <span>
      <button @click="inc()">+</button>
      <button @click="dec()">-</button>
      {{id}} = {{n}}
    </span>
    <ul>
      <li v-for="child in children">
        <component :is="child.children ? 'Group' : 'Property'" v-bind="child"></component>
      </li>
    </ul>
  </template>

</body>
</html>