/** TAGS **/
body {
	position: fixed; /* Fixes shifting viewport on mobile (https://stackoverflow.com/a/68359419) */
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0px;
}

.leaflet-div-icon {
	background: none;
	border: none;
}


/** DIVS **/

/* Leaflet Map Container */
#map {
	height: 100%;
	background-color: #143D6B;
}

/* Left Sidebar */
#selection {
	z-index: 500;	/* Leaflet Hack */
}

#selection-content {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	backdrop-filter: blur(5px);
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4));
}

/* Toggle */
#selection-hider {
	position: absolute;
	background-color: black;
}

/* Arrow */
#selection-hider::after {
	width: 2rem;
	height: 2rem;
	position: absolute;
	content: "";
	background-image: url(../icons/hide-arrow.svg);
}