/* Left Sidebar */
#selection {
	width: 20rem;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	transition: transform 0.5s;
}

#selection.hidden {
	transform: translateX(-100%);
}

/* Toggle */
#selection-hider {
	width: 2rem;
	height: 4rem;
	top: calc(50% - 2rem);
	left: 100%;
	cursor: pointer;	/* https://stackoverflow.com/questions/45049873 */
	border-radius: 0 1rem 1rem 0;
}

/* Arrow */
#selection-hider::after {
	top: 1rem;
}

.hidden > #selection-hider::after {
	transform: rotate(180deg);
}

/* TODO Custom Scrollbar */
#selection-content::-webkit-scrollbar {
	width: 1em;
}

#selection-content::-webkit-scrollbar-thumb {
	background: #9AAAAA;
	background-clip: padding-box;
	border: 0.3em solid transparent;
	border-radius: 1em;
}
